.currentSong{
    height: 500px;
    background-color: #1f2230;
    text-align: center;
    
}
div{
    box-shadow: 5px 5px 10px 1px #17d6d3;
}
h1,h2{
    line-height: 2;
    vertical-align: middle;
    font-size: 90px;
    color: azure;
    filter: drop-shadow(5px 5px 10px #17d6d3);
}
h2{
    font-size: 50px;
}
h3{
    color: #007bff;
    font-size: 50px;
}