<div style="width: 500px; margin: auto;">
    <div *ngIf="currentSong" class="edit-form">
      <h4>Song</h4>
      <form>
        <div class="form-group">
            <label for="number">Number</label>
            <input
              type="text"
              class="form-control"
              id="number"
              [(ngModel)]="currentSong.number"
              name="number"
            />
        </div>
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentSong.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="comments">Comments</label>
          <input
            type="text"
            class="form-control"
            id="comments"
            [(ngModel)]="currentSong.comments"
            name="comments"
          />
        </div>
        <div class="form-group">
          <label for="active">Active</label>
          <input
            type="checkbox"
            class="form-control"
            id="active"
            [(ngModel)]="currentSong.active"
            name="active"
          />
        </div>
  
      </form>
  
      <button type="button" class="btn btn-info" routerLink="/list">Back</button>
      <button type="button" class="btn btn-warning" (click)="updateSong()" >Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteSong()">Delete</button>
    </div>
  
  </div>